
body {
  background: url("image/background.jpg");
  background-size: 1920px 870px;
}


#equip > div > div > div > div > div > h6 {
  margin: 0 0 0 8px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.indicatorYes .MuiTreeItem-content::after {
  content: '\2713'
}

.indicatorNo .MuiTreeItem-content::after {
  content: '\2717'
}

.selected {
  background: rgb(252, 252, 252, 0.2);
}

#editButton:hover, #deleteButton:hover, #addButton:hover {
  border-color: rgb(252, 252, 252);
}

#editButton:disabled, #deleteButton:disabled, #addButton:disabled {
  border-color: rgb(252, 252, 252);
  color: rgb(252, 252, 252);
}

#buttonGroup.hidden {
  display: none;
}

.hidden {
  display: none;
}